<style>
.day, .day-head {display:flex; justify-content: flex-end;
font-family:"Gill Sans", "Roboto"; font-size:10px;text-align:center;}
.hour, .day-head p {width:12.5vw;}
h2 {font-size:1em;}
</style>
<section class="location">
<h2>{{SiteRep.DV.type}} for {{SiteRep.DV.Location.name}}</h2>
<header class="day-head"><p>00<p>03<p>06<p>09<p>12<p>15<p>18<p>21</header>
{% for day in  SiteRep.DV.Location.Period %}
 <div class="day">
 {% for f in day.Rep %}
<div class="hour"><img width=100% src="https://www.metoffice.gov.uk/webfiles/latest/images/icons/weather/{{f.W}}.svg" >
<div>{{f.T}}°<sub>{{f.F}}</sub><br>
{{f.Pp}}%<br>
{{f.S}} {{f.D}}</div>
</div>
{% endfor %}
</div>
{% endfor %} 
